/** resets **/
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

html, body {
  background:#fff !important;
}

.ui-page { 
    background:#fff !important;
    margin:0 !important;
    padding:0 !important;
}


::selection { background: #a4dcec; }
::-moz-selection { background: #a4dcec; }
::-webkit-selection { background: #a4dcec; }

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc !important;
  font-style: italic;  
}

br { display: block; line-height: 2.2em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; max-height: 90%; }

.slider_img { border: 0; max-width: 30%; max-height: 26%; }


/** typography **/
h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
    padding: .1em 0;
    color: #444;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
h1:before,
h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
}
h1:before {    
  left: -.5em;
  margin: 0 0 0 -50%;
}
h1:after {    
  left: .5em;
  margin: 0 -50% 0 0;
}
h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

p {
  display: block;
  font-size: 1.35em;
  line-height: 1.5em;
  margin-bottom: 22px;
}

.center { display: block; text-align: center; }


/** page structure **/

#content {
  display: block;
  width: 100%;
  background: #fff !important;;
}


.centered {
text-align:center;
}

#searchfield { display: block; width: 100%;}

#searchfield form {
  display: inline-block;
  /*background: #eeefed;*/
  padding: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
  width:80%;
}
#searchfield form .biginput {
  width: 100%;
  height: 40px;
  padding: 2px 10px;
  background-color: #efeff0;
  border:none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #444444;
  font-weight:normal;
  font-size: 18px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}



.flatbtn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #f3faef;
  text-decoration: none;
  background-color: #6bb642;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}
.flatbtn:hover {
  color: #fff;
  background-color: #73c437;
}
.flatbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.new_content {
width:80%;
margin: 5% 10%;
float:left;
}

.new_content ul {
list-style-type:none;
margin:0;
padding:0;
}

.new_content ul li {
margin:2% 5%;
padding:0;
float:left;
}

.new_content a {
text-decoration:none;
width:100px;
height:100px;
background:#0066FF;
display:block;
}

.categoryCollection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.mr_ml {
    flex-basis: 30%;
    background:#e7e7e7;
    color:#444;
    padding: 3px 5px;
    text-align:center;
    border-radius:10px;
    box-shadow:0px 3px 0px 0px #777;
    text-shadow:none !important;
    word-wrap:break-word;
    margin-bottom: 5%;
}

.mr_ml {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.mr_ml.dummy {
    visibility: hidden;
}

.mr_ml_t {
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    line-height: 1em;
    word-break: break-word;
}

.mr_ml_img {
/*    width:100%;
    height:auto;
    margin:15% 0 0 0;
    text-align:center;*/
    flex: 0 0 50px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.mr_ml_img img {
    max-height:50%;
    max-width:70%;
}

.mr_sp_top, .mr_tp_top_top {
width:100%;
padding:5%;
margin:0;
display: flex;
align-items: center;
}

.mr_sp_img_wrapper, .mr_tp_img_wrapper {
    flex-basis: 100px;
}

.mr_sp_img, .mr_tp_img {
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 12px 5px 5px 5px;
    background-color: #EEE;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}

.mr_sp_title, .mr_tp_top_title {
    font-size:28px;
    word-wrap:break-word;
    margin-left: 20px;
}

.mr_sp_l {
margin:0;
border-top:1px solid #888 !important;
padding:0;
}

.mr_sp_ul {
background:none !important;
border:none !important;
border-radius:0 !important;
box-shadow:none !important;
margin:0;
}

.mr_sp_ul li {
    background:none !important;
    border:none !important;
    border-bottom:1px solid #888 !important;
    padding:0 !important;
    margin:0 0 0 0 !important;
    width:100%;
}

.mr_sp_ul li a {
    font-size:16px !important;
    font-weight:normal;
    margin: 0 0 0 -5%;
    width: 110%;
    white-space: normal !important;
}

.mr_tp_ml {
    margin:0 !important;
    padding:0 !important;
}

.mr_tp_top {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mr_tp_bottom_top {
    display: flex;
    justify-content: space-between;
}

.mr_tp_img {
    flex-basis: 25%;
}

.mr_tp_bottom_wrap {
margin:10px 0 0 0;
padding:0 0 0 20px;
}

.mr_tp_bottom_title {
float:left;
font-size:18px;
margin:14px 0 0 20px;
width:50%;
}

.mr_tp_bottom_sub {
    font-size:14px;
    color:#737373;
    word-wrap:break-word !important;
    text-align: center;
}

.mr_tp_l {
margin:0 0 0 -5%;
padding:0;
border-top:1px solid #888 !important;
    width:110%;
}

.mr_tp_l li {
    margin:0 0 0 5%;
    padding: 3% 5% 3% 0;
    border-bottom:1px solid #888 !important;
    width:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.mr_tp_l li > div {
    line-height: 2em;
}

.mr_tp_l_left {
    font-size:17px;
    flex: 1 0 auto;
}

.mr_tp_l_left span.footnote {
    font-size: 0.7em;
    vertical-align: super;
}

.mr_tp_l_right {
    font-size:14px;
    color:#737373;
    margin:5px 0 0 10px;
    text-align: right;
    flex: 1 1 auto;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.mr_tp_l_right .min, .mr_tp_l_right .max {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
}

.mr_tp_l_right .min .label, .mr_tp_l_right .max .label {
    font-size: 0.8em;
}

.mr_tp_l_right .value {
    margin-left: 0.3em;
}

.ui-btn{
        background:#cbddee !important;
        border: none !important;
        box-shadow: none !important;
        border-radius:0 !important;
        text-shadow: none !important;
        width:200px;
}

.mr_fp_top {
width:100%;
margin:0;
padding:0;
}


.mr_fp_mid {
    background-color:#ccdded !important;
    height:58px;
    width:115% !important;
    margin: 0 0 10px -20px;
    padding:0;
    border-style:solid;
    border-width:1px;
    border-color:#0057a3;
}

.mr_fp_mid > .ui-navbar .ui-btn {
    width:150px!important;
          
    float:left;
          
    margin:-10.2% 2% 8% 2% !important;
          
    padding:14px 0!important;
          
    font-family:"HelveticaNeue" !important;
          
    border:none !important;
          
    border-radius:0 !important;
          
    text-decoration:none !important;
            background:none !important;
            height:87px;
}

.mr_fp_mid > .ui-navbar .ui-btn-text  {
        color:#0057a3;
        font-size:15px !important;
        text-align:center;
        font-family:"HelveticaNeue" !important;
        text-decoration:none !important;
        white-space:normal;
}

.mr_fp_mid > .ui-navbar .ui-btn-active {
    background:url(../../css/images/bottom_arrow.jpg) bottom center no-repeat !important;
        background-size:20% 20%;
    text-decoration:none !important;
}

#slider_background {
    height: 58px;
    width: 100%;
    background-color: #1b5ff4;
    overflow: hidden;
    position: relative;
}

#indicator_img {
    position: absolute;
    bottom: -5px;
    left: 45%;
}

.slider_element {
    font-size: 12pt;
    font-family: "Helvetica Neue";
    overflow: hidden;
    text-align: center;
    color: #0057a3;
    font-weight: bold;
    position: absolute;
    top: 0px;
    width:100%;
    text-overflow: ellipsis !important;
    display: flex;
    justify-content: center;
}

.slider_element .contentwrapper {
    margin-left: auto;
    margin-right: auto;
    height: 58px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider_element .contentwrapper .content {

}

.btn_holder {
    width:100%;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
}


.btn_holder a {
    font-family:"HelveticaNeue" !important;
    font-size:18px;
    color:#000;
    text-align:left;
    margin:0 2% 0 0;
    /*display:block;*/
    text-decoration:none; 
    flex-basis: 48%;
    background-color: #CCDDEF;
    border-radius: 6px;
    box-shadow: 0px 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_holder a .button_bullet {
    flex-basis: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_holder a .button_text {
    flex-basis: 80%;
    padding: 5px 3px 5px 10px;
    word-break: break-word;
}

.btn_holder a .button_bullet .button_bullet_inner {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.btn_holder a.selected .button_bullet .button_bullet_inner {
    border: 2px solid #ffffff;    
    background-color: #085893;
}

.btn_holder a.deselected .button_bullet .button_bullet_inner {
    background-color: #ffffff;
    border: none;
}

._selected  {      
    background:url(../../css/images/mr_btn_hover.jpg) bottom center no-repeat !important;
    background-size:100% 100%;
}

._deselected {
    background:url(../../css/images/mr_btn.jpg) bottom center no-repeat !important;
    background-size:100% 100%;
}

.Legend_class{
    color:#737373;
    font-size: 14px;
    font-family: "Helvetica Neue";
    margin-left: 15px;
    text-align: left;
    width: 90%;
}

.Legend_class h2 {
    font-size: 0.8em;
    font-weight: bold;
}

.Legend_class p {
    font-size: 0.7em;
}

.sendPageListAccessory {
    background: url(../../css/images/listAccessory.png) no-repeat !important;
    height: 33px;
    width: 30px;
    float: right;
    margin: -40px 0 0 -70px !important;
    background-size: 100% 100%;
}


.sliderBackgroundLeftIndicator {
    background: url(../../css/images/leftIndicator.png) no-repeat !important;
    height: 50px;
    width: 35px;
    background-size: 100% 100%;

    margin: 9px 0 0 4px;
    left: 0;
    position: absolute;
}

.sliderBackgroundRightIndicator {
    background: url(../../css/images/rightIndicator.png) no-repeat !important;
    height: 50px;
    width: 35px;
    background-size: 100% 100%;

    margin: 9px 0 0 295px;
}