  /* styles for contact info view profile picture and its border */
  
            html,body {
                height:100%;
                height:auto !important;
                min-height:100%;
                margin:0;
                padding:0;
            }
  			.second_page{
  			background:#fff !important;
  			}
			
			
			/* Contact Detail view logo style */
			img.ContactLogo
			{
			width:30px;
			height:30px;
			}
			
			 /* styles for contact info view profile picture and its border */
			.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb{
			    min-height: 60px !important;			    
			}
			
			 /* styles for contact info view profile picture and its border */
			.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow{
			    padding-right: 10% !important;			    
			}
			
			 /* styles for contact info view profile picture and its border */
			.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb{
			    padding-left: 20% !important;			    
			}
			
			/* styles for contact list view  */
			.ui-page .ui-content .ui-listview {
			    margin-right : -15px !important;
			    margin-left : -15px !important;
			    margin-top : -15px !important;
			    margin-bottom : -15px !important;
			  			}
			  			
			/* styles for contact list view  */  			
			.ui-page .ui-content .ui-listview-filter {
			    margin-right : -15px !important;
			    margin-left : -15px !important;
			     }
			
			/* styles for Names and address in detail view */
			.HyperLink{
                color:white;
                font-family:"HelveticaNeue" !important;
			}
			
			.hyperLinkContact{
			color:black;
			}
			
			.linkSaveContact
			{
			 color: #497BAE !important;
			}
			
			/* styles Names and address in detail view */
			a{
				font-family:"HelveticaNeue" !important;
                text-decoration:none !important;
                font-weight:inherit !important;
               
			}
			

			.contact_address{
			font-family:"HelveticaNeue" !important;
			padding-left:10px;
            margin:-20px 0 0 10px;
            padding:0;
			}
			
			.contact_name{
			font-family:"HelveticaNeue" !important;
			padding-left:10px;
            margin:5px 0 0 10px;
            padding:0;
            font-size:20px;
			}
			
			.Details_content_bottom{
			background-color:#000; 
			opacity:0.7; 
			width:100%;
			font-weight:normal !important;
            bottom:0 !important;
            height:75px;
            position:absolute;
            z-index:99;
            top:100px;
			color:#fff;
            padding:5px 0 0 0;
			}
            
            .imageWrapper{
            width: 100%;
            position:absolute;
            z-index: 99;
			}

            .top_content{
            width:80px;
			height:80px;
            text-align:center;

            margin: 20px auto 0 auto;
            position:relative;
			}
			
			.Details_Name{
			text-align:center; 
            font-family:"HelveticaNeue" !important;
            font-size:20px;
            font-weight:lighter;
            font-weight:bold;
			}
			
			.Details_Postion{
			text-align:center !important;
			font-weight:normal !important;
            font-size:12px;
            margin:5px 0 0 0;
            white-space:nowrap;
            text-overflow: ellipsis; 
            overflow:hidden;
            padding:0 3%;
            width:90%;
			}
			
			.Details_address{
			text-align:center !important;
			font-weight:normal !important;
            font-family:"HelveticaNeue" !important;
            font-size:12px;
            text-overflow: ellipsis; 
            overflow:hidden;
            white-space:nowrap;
            text-align:center;
            width: 90%;
            padding:0 3%;
            margin:5px 0 0 0;
			}
			
			.Tele{
			margin-left:20px; 
			margin-top:10px; 
			color:#497BAE;
			}
			
			.ContactImg{
			float:right;
			width:30px;
			margin:0 5% 0 0 !important;
			}
			
			.Phone_no{
			margin-left:20px; 
			margin-top:5px; 
			border-bottom:solid #CCC 1px;
			}
			
			.mobile{
			margin-left:20px;
			margin-top:10px; 
			color:#497BAE;
			}
			
			.mobile_in{
			float:right;
			width:30px;
			margin:0 2% 0 0 !important;
			}
			
			
			.mobile_no{
			margin-left:20px; 
			margin-top:5px ; 
			border-bottom:solid #CCC 1px;
			}
			
			.Fax{
			margin-left:20px; 
			margin-top:10px; 
			color:#497BAE;
			}
			
			.Fax_in{
			margin-left:20px; 
			margin-top:5px ; 
			border-bottom:solid #CCC 1px;
			}
			
			.mail{
			margin-left:20px; 
			margin-top:10px; 
			color:#497BAE;
			}
			
			.mail_in{
			float:right;
			width:30px;
			margin:0 2% 0 0 !important;
			}
			
			.mail_no{
			margin-left:20px; 
			margin-top:5px ; 
			border-bottom:solid #CCC 1px;
			}
			
			.Teilen{
			margin-left:20px; 
			margin-top:10px ; 
			color:#497BAE;
			}
            
            .Teilen_link {
            margin-top:10px !important;
            bottom:0;
            color:#497BAE;
            }
			
			.Teilen_in{
			float:right;
			width:30px;
			margin:0 2% 0 0 !important;
			}
			
			.Share_contact{
			margin-left:20px; 
			margin-top:25px ; 
			border-bottom:solid #CCC 1px; color:#497BAE; 
			}
			
			.save_contact{
			margin-left:20px; 
			margin-top:20px ; 
			color:#497BAE; float:left;
			}
            
            .ContactLogoSave {
            margin: 10px 0 0 0;
            float:right;
            width:30px;
			height:30px;
            }
			
			.save_contact_in{
			float:right;
			width:30px;
			margin:0 2% 0 0 !important;
			}
			
			.contact_list li {
			background:#fff !important;
			}
			
			.contact_list li:active {
			background:#e5eef6 !important;
			}
			
			ul li.ui-li-divider{
			background:#cbddee !important;
			color:#226eb0 !important;
			text-shadow:none !important;
            text-transform:uppercase;
            height:20px !important;
            padding:2px 0 2px 10px !important;
            border:none !important;
            border-bottom:1px solid #006bd2 !important;
			}
            
            .main_map {
            height:180px;
            overflow:hidden;
			margin: 0;
            }
            
            .map {
			width:100%;
			height:180px;
			position:absolute;
            z-index: 88;
            overflow:hidden;
            background-image:url(../../css/images/map_2x.png);
            }
            
                              
.contact_main {
    width:100%;
    margin:0;
    padding:0;
    float:left;
}

.contact_main ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

.contact_main ul li {
    display:block;
    width:94%;
    float:left;
    padding:0 0 0 6%;
    margin:0 !important; 
    background:url(../../css/images/list_underline.jpg) left bottom no-repeat;  
}

.contact_main_wrapper {
        height:45px;
        padding:2% 0;
}

.contact_main_wrapper_2 {
        height:45px;
        padding:10% 0 0 0;
}
            
            .contact_main ul li a:link {
                color:black !important;
            }
            
            .contact_main ul li a:visited {
                color:black !important;
            }
            
            .contact_main ul li:active {
                color:black !important;
                background:#e5eef6 !important;
            }

            .contact_main h4 {
                color:#497BAE;
                float:left;
                width:80%;
                font-size:12px;
                margin: 0 0 0 0;
            }
            
            .contact_main h5 {
                color:#497BAE;
                float:left;
                width:80%;
                font-size:14px;
                font-family:"HelveticaNeue" !important;
                margin: 15px 0 0 0;
                padding-top:8px !important;
                
            }
            
            .contact_main h6 {
                color:#497BAE;
                float:left;
                width:80%;
                font-size:14px;
                font-family:"HelveticaNeue" !important;
                margin: 15px 0 0 0;
                
            }


            .contact_main span {
                margin:10px 10px 0 0;
                right:0;
                padding:0;
                position:absolute;
                
            }

            .conatct_sub_info {
                width:100%;
                margin:0;
                padding:0 0 0 0 !important;
                float:left;
                font-size:15px;
                font-weight:normal;
                font-family:"HelveticaNeue" !important;
                height:15px !important;
                
            }
            
             .contact_popup {
                width:200px;
                height:130px;
                background:#EEE !important;
                font-family:"HelveticaNeue" !important;
                opacity:0.9 !important;
            }
           
            .contact_popup h1 {
                            color:#fff;
                            text-align:center;
                            font-family:"HelveticaNeue" !important;
                            padding:0 0 0 0;
            }
           
            .contact_popup > .ui-btn {
                width:80% !important;
                height:20px;
                float:left;
                margin:0 0 5% 10% !important;
                background:none;
                padding:10px 0 0 0 !important;
                font-size:30px !important;
                border:none !important;
                border-radius:0 !important;
            }
           
.contact_popup > .ui-btn .ui-btn-text {
    font-size:18px !important;
    border:none !important;
    border-radius:0 !important;
    font-family:"HelveticaNeue" !important;
    background:transparent;
}

#popupLogin{
    width:290px;
    max-height:450px;
    background:#fff !important;
    overflow:hidden;
    margin:5% 0 0 0;
}
                     
#popupLogin a:active {
            background:#e5eef7;
            color:#888; 
}
            
.popup_submit {
    width:100%;
    padding:0 !important;
    background:#EEE;
    float:left;
    border-radius:0 0 10px 10px;
    height:60px !important;
}

.popup_submit_a {
    margin:3% 0 0 5%!important;
    background:url(../../css/images/btn_blue_standart@2x.png) center no-repeat;
    background-size:100% 100%;
    padding: 4% 40.5%!important;
    float:left;
    color: black !important;
    font-size: 18px;
}

  .ui-body-c, .ui-overlay-c{
    text-shadow: 0 0px 0 #fff !im;
}

.pop_back{
padding: 0 0 100px 0;
margin:0;
background:#eee;

}

            
#button1{
    font-family:"HelveticaNeue" !important;
    color:#eee !important;
    font-weight:normal;
    font-size:20px !important;
    text-decoration:none;
    margin:0 !important;
    padding:5% 0 !important;
    float:left;
    width:100%;
    text-align:center;
    border-bottom:1px solid #555;
    display:block;
            
            }
            
.activePopupItem {
    background:#e5eef7 !important;
    color:#555; 
}
            
.popup_title {
    width:80%;
    padding:4% 10%;
    background:#EEE;
    color:#000;
    font-size:20px;
    text-align:center;
    border-radius:10px 10px 0 0;
    font-weight:bold !important;
    border-bottom:1px solid #e9e9e9;
}

.popup_scroll {
    height:250px !important;
    overflow-y:scroll !important;
    float:left;
}

.popup_sub_title {
    width:90%;
    padding:1% 5% 1% 5%;
    background:#d6d6d6;
    color:#000;
    font-size:20px;
    text-align:center;
    border-radius:0;
    font-weigth:light;
    border-bottom:1px solid #555;
    float:left;
}

.contact_img_wrapper {
    width:50px;
    height:50px;
    float:left;
    border: 3px solid #CCC !important;
    overflow:hidden;
    margin:0 10px 0 0;
}

img.profilePic{
	width: 50px !important;
    margin:0;
    min-height:50px;
}


.DetailViewProfilePic_wrapper {
    width:80px;
    height:80px;
    margin:-12px auto 0 auto;
    border: 3px solid #fff !important;
    overflow:hidden;
}

			
img.DetailViewProfilePic {
	width: 80px !important;
    min-height:80px;
    margin:-2% 0 0 0;
    padding:0;
}

.contact_main ul li a.padding {
    padding:40px 0 0 0 !important;
}

#ShareTitle, #SaveTitle {
    font-size:15px;
    margin: 10px 0 0 0;
}

.nav_tab_wrapper {

    float:left;
    margin:5% 0 0 5%;
    overflow:hidden;
    height:40px;
    border:1px solid #555 !important!;

}

.nav_tab {
    width:100%;
    border-radius:10px!important;
    border:1px solid #555 !important!;
    float:left;
    
}

.nav_tab  > .ui-navbar {
    border-radius:10px!important;
}


.nav_tab  > .ui-navbar .ui-btn  {
        height:20px !important;
        float:left !important;
        background:none !important;
        width:120px !important;
        border:none;
        border:2px solid #555 !important!;
}

.nav_tab  > .ui-navbar .ui-btn-text  {
        font-size:14px !important;
        font-weight:normal;
        border:none !important;
        border-radius:0 !important;
        text-align:left !important;
        font-family:"HelveticaNeue" !important;
        margin:-10px 0 0 0!important;
        padding:0 !important;
        float:left !important;
        width:100% !important;
}

.nav_tab > .ui-navbar .ui-btn-active {
      	background:#0058a6 !important;
        text-decoration:none !important;
        font-weight:normal;
        color:#fff !important;
}


.mainContainer
{
	width:100%;
    margin:2% 0 0 0;
    font-family:"HelveticaNeue" !important;
    border-bottom:1px solid #888 !important;
    float:left;
}

.topNav
{
	font-weight:bold;
	font-size:12px;
	width:100%;
	margin:0 auto;
	letter-spacing:-1px\9;
}

.tabs {
    border:1px solid #0058a6;
	border-radius:5px;
	width:90%;
	float:left !important;
	padding:0;
	overflow:hidden;
    margin:0 5%;
	-webkit-overflow-scrolling:touch;
}

.tab_border {
    border-bottom:1px solid #e9e9e9 !important;
    float:left !important;
    width:100% !important;
    padding:5% 0;
    margin:-10px 0 0 -1px;
}

.tabs li
{
	display:inline;
}

.tabs li a
{
	cursor: pointer;
	padding:2% 4% !important;
	font-size:15px !important;
	color:#0058a6 !important;
	float:left !important;
	margin:0;
	width:24% !important;
    text-transform:none !important;
    text-align: center;
    
}

.tabs .tab-current
{
	padding:0;
	border-bottom:0px;
	background:#0058a6;
	float:left !important;
	padding:2% 4% !important;
	margin:0;
	width:28% !important;
	color:#fff !important;
    text-transform:none !important;
    text-shadow: none;
}

.tabsContent {
	padding:2% 0;
	display:none;
	float:left;
	width:100%;
	margin: 0;
    height:265px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.tabsContent a {
    font-family:"HelveticaNeue" !important;
    color:#000 !important;
    font-weight:normal;
    font-size:20px;
    text-decoration:none;
    margin:0 !important;
    float:left;
    width:94%;
    text-left;
    display:block;
    padding:4% 0 4% 6%;
    margin:0 !important;
    background:url(../../css/images/list_underline.jpg) left bottom no-repeat;
}

.t1 {
    margin:0 0 0 10% !important; 
    border-bottom:1px solid #efefef !important;
    width:90%;
    float:left;
    padding:4% 0;
}

.waraning{

    font-family:"HelveticaNeue" !important;
    color:#000 !important;
    font-weight:normal;
    font-size:20px;
    color:#006db2 !important;
    padding:200px 0 0 0;
    text-decoration:none;
    margin:120px 0 0 0 !important;
    float:left;
    width:100%;
    text-align:center;
    display:block;
    background:url(../../css/images/logo2xnew.png) top center no-repeat;
    background-size:70% 70%;

}