.ui-page {
}

#content {
  display: block;
  width: auto;
  background: #fff;
  height:524px !important;
  padding:0 !important;
  overflow:hidden;
}


.centered {
	text-align:center;
    padding:0;
}

 
.biginput {
  width: 84%;
  height: 45px;
  background-color: #efeff0;
  border:none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 8px;
  color: #000;
  font-weight:normal;
  font-size: 20px;
  font-family:"HelveticaNeue" !important;
  transition: all 0.2s linear;
  margin:0 0 0 5%;
  padding:0 0 0 5%;
  box-shadow: 0px 10px 0px 0px #aeaeae !important;
}

#searchfield {
	float:left;
	position:relative;
	width:100%;
	margin:2.8% 0 2% 0;
	padding:0;
}



.biginput:focus {
  color: #858585;
}


.padding {
	width:100%;
	display: inline-block;
}

.top_box {
	width:91%;
	margin:0 5.5%;
	padding:0;
	float:left;
}

#searchRegion > .ui-btn {
  width:47.5%;
  height: 35px;
  background:none !important;
  background-color: #efeff0 !important;
  border:none;
  border-radius: 8px;
  transition: all 0.2s linear;
  font-weight:normal !important;
  margin:0 2.5% 0 0;
  float:left;
  display:inline;
  padding:10px 0 0 0;
  box-shadow:0px 2px 0px 0px #aeaeae !important;
  font-size:20px !important;
  font-family:"HelveticaNeue" !important;
}


#searchRegion > .ui-btn .ui-btn-text {
	font-size:20px !important;
	font-family:"HelveticaNeue" !important;
    font-weight:normal !important;
	border:none !important;
	border-radius:0 !important;
	text-align:left;
	width:100%;
	margin:-20px 0 0 0 !important;
	padding:0 0 10px 0 !important;
    top:-10px !important;
}

#searchRegion > .ui-btn:hover .ui-btn-text {
	color:#006cb3;
}

#outboximg{
	background:url(../../img/icn_literatur.png) top center no-repeat #e5eef6 !important;
	background-size:50% 50%;
	overflow-y:scroll;
	overflow-x:hidden;
	height:300px !important;
    position:absolute;
    z-index:77;
    width:100%;
    margin:4% 0 0 -5%;
}

#outputbox {
	margin:2% 0 0 0;
	width:90%;
	text-align:left;
	font-family:"HelveticaNeue" !important;
	padding:1% 0 5% 10%;
	display: inline-block;
	background-size:80% 80%;
	border-top: 1px solid #9fa3a6;
	height:370px !important;
	overflow-y:scroll !important;
	overflow-x:hidden;
	background-color: #e5eef7 !important;
    position:relative;
}

#outputbox a {
	text-decoration:none;
	color:#555;
	display:inline;
	padding:0 5% 0 0;
	margin:10px 0 5px 0;
	font-size:21px;
	font-family:"HelveticaNeue" !important;
	float:left;
	width:95%;
    white-space:nowrap !important;
    text-overflow:ellipsis !important;
    overflow:hidden !important;
}

#outputbox p {
	border-radius:20px;
	border:1px solid #3284E3;
	color:#3284E3;
	float:left;
	width:20px;
	height:18px;
	padding:2px 0 0 0;
    margin: 0 2% 0 0;
	text-align:center;
	text-transform:uppercase;
	font-size:12px;
	font-family:"HelveticaNeue" !important;
}

.outputbox_ul {
	float:left;
	width:96%;
	margin:0;
	padding:0;
	list-style-type:none;
}

.outputbox_ul li {
	margin:0 !important;
	padding:2% 0 5% 0% !important;
	border-bottom:1px solid #999;
	width:105%;
	float:left;
}

.outputbox_ul li:last-child {
	border-bottom:none !important;
}

.outputbox_ul li.output_breakers {
    background:#0058a6 !important;
    margin:-2px 0 0 -15% !important;
    float:left;
    border:none !important;
    color:#fff;
    font-size:14px;
    width:105% !important;
    padding:2% 0 2% 15% !important;
    text-shadow: 0 0px 0 #fff;
}

.output_text {
    width:90%;
    z-index:88;
    position:absolute;
    margin:40% 0 0 0;
    padding:0;
    text-align:center;
    float:left;
    color:#b4ccea;
}

#output_hide {
    margin: 20% 0 0 -7%;
    float:left;
}

#products:focus + #outputbox {
	display:none;
}
	
#searchLang > .ui-btn {
    width:47.5%;
    height: 35px;
    background:none !important;
    background-color: #efeff0 !important;
    border:none;
    border-radius: 8px;
    transition: all 0.2s linear;
    margin:0 2.5% 0 0;
    float:left;
    display:inline;
    padding:10px 0 0 0;
    box-shadow:0px 2px 0px 0px #aeaeae !important;
    font-size:20px !important;
    font-family:"HelveticaNeue" !important;
    overflow:hidden !important;
    font-weight:normal !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    text-decoration:none;
}

#searchLang > .ui-btn .ui-btn-text {
	font-size:20px !important;
	font-family:"HelveticaNeue" !important;
	border:none !important;
	border-radius:0 !important;
	text-align:left;
	width:100%;
	margin:-20px 0 0 0 !important;
	padding:0 0 10px 0 !important;
    top:-10px !important;
    font-weight:normal !important;
}

#searchLang > .ui-btn:hover .ui-btn-text {
	color:#006cb3;
}


#searchfield span.icon_clear{
    position:absolute;
    right:40px; 
    top:10px;   
    display:none;
    
    /* now go with the styling */
    cursor:pointer;
    font: bold 1em sans-serif;
    color:#fff;
    background:#000; 
    width: 26px;
    height: 26px;
    padding: 0;
    background:url(../../css/images/LHimage.png) top left no-repeat !important;
    background-size:100% 100%;
}
    
#searchfield span.icon_clear:hover{
    color:#fff;
}

#popupRegion {
	width:290px !important;
	height:auto;
	background:#fff !important;
	padding:0;
	float:left;
    overflow:hidden;
    margin: 0;
}

#popupRegion a {
	font-family:"HelveticaNeue" !important;
	color:#000;
    font-weight:normal;
	font-size:20px !important;
	text-decoration:none;
	float:left;
	width:94%;
	text-align:left;
    display:block;
    padding:5% 0 5% 6%;
    margin:0 !important; 
    background:url(../../css/images/list_underline.jpg) left bottom no-repeat;
}


#popupRegion a:active {
    background:#e5eef7;
    color:#888; 
}

.popup_title {
    width:90%;
    padding:5%;
    background:#EEE;
    color:#000;
    font-size:20px;
    text-align:center;
    border-radius:10px 10px 0 0;
    font-weigth:bold;
}

#popupLanguages .popup_submit {
    width:100%;
    padding:0 !important;
    background:#EEE;
    float:left;
    border-radius:0 0 10px 10px;
    height:60px !important;
}

#popupLanguages .popup_submit_a {
    margin:3% 0 0 5%!important;
    background:url(../../css/images/btn_blue_standart_l_hub@2x.png) center no-repeat;
    background-size:100% 100%;
    padding: 4% 40.5%!important;
    float:left;
    color: black !important;
    font-size: 18px;
}


#popupLanguages .popup_submit > .ui-btn {
  background:transparent;
  border:none !important;
  border-radius:0 !important ;
  box-shadow:none !important;
  font-size:18px !important;
  margin:0.5% 0 0 0 !important;
  float:left !important;
  width: 80% !important;
  color: black !important;
  text-align: center !important;
  font-weight: normal !important;
}

#popupLanguages .popup_submit > .ui-btn-text {
  background:transparent;
  border:none !important;
  border-radius:0 !important ;
  box-shadow:none !important;
  width:100%;
  font-size:14px !important;
  margin:-5% 0 0 0 !important;
  padding:0 !important;
}

#popupLanguages .popup_submit > .ui-btn .ui-btn-active {
    color:#888 !important;
}

#popupLanguages {
	width:290px !important;
	height:auto;
	background:#fff !important;
	padding:0;
	float:left;
    margin: 0;
}

.languagelistscroll {
    width:290px !important;
	height:340px;
	background:#fff !important;
	padding:0;
	float:left;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}

#popupLanguages a {
	font-family:"HelveticaNeue" !important;
	color:#000;
	font-size:20px !important;
	text-decoration:none;
	float:left;
	text-align:left;
    display:block;
    background:url(../../css/images/list_underline.jpg) left bottom no-repeat;

}


#Languagelist a {
    width:94% !important;
    font-size:20px !important;
    float:left;
    padding:5% 0 5% 6%;
    margin:0 !important; 
}

#Languagelist a:active {
    background:#e5eef7;
    color:#555; 
}

.activePopupItem {
    background:#e5eef7 !important;
    color:#555; 
}

#warning{
    font-family:"HelveticaNeue" !important;
    color:#000 !important;
    font-weight:normal;
    font-size:20px;
    color:#006db2 !important;
    padding:50% 0 0 5%;
    text-decoration:none;
    margin:0 0 0 0 !important;
    float:left;
    width:80%;
    text-align:center;
    display:block;
    background:url(../../css/images/a.png) top center no-repeat;
    background-size:70% 50%;

}


.autocomplete-suggestions { 
	background: #fff; 
	cursor: default; 
    width:105% !important;
    margin:2.8% 0 0 -10%;
    padding:10px 0 0 0;
    overflow-y:scroll;
    overflow-x:hidden;
    min-height:382px !important;
    /* min-height:362px !important; ORIGINAL UNTIL 01.07.2014 */
    /* border: 1px solid red; DEBUG */
}

.autocomplete-suggestion { 
	padding: 10px 0 10px 0;
	font-size: 18px;
	font-family:"HelveticaNeue" !important;
	white-space:nowrap; 
	overflow: hidden; 
	color:#555;
	border-bottom: 1px solid #999;
    margin: 0 0 0 40px;
    background: #fff; 
    width:115%;
}

.autocomplete-suggestion:active {
    background:#e5eef7;
}

.autocomplete-suggestion:last-child {
	border-bottom:none; 
}

.autocomplete-selected {
    
}

.autocomplete-suggestions strong { 
	font-weight: normal;
	font-family:"HelveticaNeue" !important; 
	color: #3399ff; 
}


.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }