#content {
  display: block;
  width: auto;
  background: #fff;
  height:auto;
}


.centered {
	text-align:center;
}

 
.biginput {
  width: 89%;
  height: 35px;
  background-color: #efeff0;
  border:none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #444444;
  font-weight:normal;
  font-size: 18px;
  transition: all 0.2s linear;
  margin: 10px 0 0 0;
}
.biginput:focus {
  color: #858585;
}

.padding {
	width:100%;
	display: inline-block;
}

.region{
  width: 43%;
  height: 35px;
  background-color: #efeff0;
  border:none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #444444;
  font-weight:normal;
  font-size: 18px;
  transition: all 0.2s linear;
  margin: 0 0 0 21px;
  float:left;
  display:inline;

}

.region select {
	background: transparent;
	width: 100%;
	font-size: 18px;
	border: 0;
	border-radius: 0;
	height: 34px;
	font-family:arial;
	font-size:18px;
	color:#444444;
}

.region option {
	margin:10px 0;
	background:#f2f2f2;
	border: 0;
}

#outputbox {
	margin:15px 0 0 0;
	width:100%;
	text-align:left;
	padding:10px 0 0 0;
	display: inline-block;
	background:#eff5f9;
	border-top: 1px solid #9fa3a6;
	height:auto;
	min-height:570px;
	overflow:scroll;
}

#outputbox a {
	text-decoration:none;
	color:#555;
	display:inline;
	padding:20px 0 30px 0;
	border-bottom:1px solid #999;
	width:800px !important;
	margin:0 0 10px 0;
	font-size:18px;
}


#products:focus + #outputbox {
	display:none;
}
	
.Lang{
  width: 43%;
  height: 35px;
  background-color: #efeff0;
  border:none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #444444;
  font-weight:normal;
  font-size: 18px;
  transition: all 0.2s linear;
  margin: 0 0 0 10px;
  float:left;
  display:inline;


}

.Lang select {
	background: transparent;
	width: 100%;
	padding: 5px;
	font-size: 18px;
	border: 0;
	border-radius: 0;
	height: 34px;
	font-family:arial;
	font-size:18px;
	color:#444444;
}

.Lang option {
	margin:10px 0;
	background:#f2f2f2;
	border: 0;
}


.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }


.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }